body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAV-BAR CSS */
#logo {
    height: 5rem;
    margin-left: 5%;
    box-sizing: border-box;
}
#nav-bar-loja {
    background-color: #181515;
    display: flex;
    height: 5rem;
    width: 100% !important;
}
#linkstop-loja {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 650;
    font-size: 1rem;
    display: flex;
    margin: auto;
    gap: 3rem;
}
#linkstop-loja a {
    color: rgb(236, 225, 225);
    background-color: transparent;
    text-decoration: none;
}
#linkstop-loja a:hover{
    color: burlywood !important;
    transition: 0.5s;
}
/* SLIDESHOW */
.item {
    height: 22rem;
    flex-shrink: 0;
    transition: all 0.5 ease-in-out;
}
#container-slideshow {
    position: relative;
    padding: 1rem;
    max-width: 53rem;
    max-height: auto;
    margin: auto;
    top: 1.5rem;
}
#gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}
#slideshow {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#slideshow::-webkit-scrollbar {
    display: none;
}
.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    text-align: center;
    color: white;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, Black 300%);
    opacity: 0.1;
}

.arrow-right {
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, Black 300%);
    opacity: 0.1;
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
