body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url(fonts/GothamBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url(fonts/GothamMedium.ttf) format('truetype');
}
@font-face {
    font-family: 'Gotham-Book';
    src: url(fonts/GothamBook.ttf) format('truetype');
}
@font-face {
    font-family: 'Gothvetica';
    src: url(fonts/Gothvetica\ Caps\ -\ www.themarkstudio.co.za.ttf) format('truetype');
}
#logo {
    height: 5rem;
    margin-left: 5%;
    box-sizing: border-box;
}
#nav-bar-contato {
    background-color: #181515;
    display: flex;
    height: 5rem;
    width: 100% !important;
}
#linkstop-contato {
    font-family: 'Gotham-Book', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    margin: auto;
    gap: 3rem;
}
#linkstop-contato a {
    color: rgb(236, 225, 225);
    background-color: transparent;
    text-decoration: none;
}
#linkstop-contato a:hover{
    color: burlywood !important;
    transition: 0.5s;
}

#text {
    width: 42rem;
    font-family: 'Gotham-Book', sans-serif;
    color: #181515;
    margin: 6rem auto;
    padding: 2rem 2rem 3rem 2rem;
    background-color: #d4d4d4;
    text-align: center;
}
mark {
    background-color: #9c9c9c;
}
#text a {
    background-color: rgb(0, 61, 173);
    text-decoration: none;
    color: white;
    border-radius: 5%;
    padding: 0.5rem 1rem;
    font-family: 'Gotham-Book', sans-serif;
    cursor: pointer;
}
#github {
    background-color: rgb(62, 27, 97) !important;
    cursor: pointer;
}

#text a:hover {
    background-color: rgb(7, 37, 94);
    transition: 0.3s ease-in-out;
}

#github:hover {
    background-color: rgb(32, 6, 58) !important;
    transition: 0.3s ease-in-out;
}